<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <title>location info</title>
    
</head>
    
    <style>
       
       #mainmap{
            height: 500px;
            width: 100%;
        }
        
    body{
        text-align: center;
        display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
      }



.myloc{
  align-items: center;
  margin: 0 auto;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.myloc:active,
.myloc:focus {
  outline: none;
}

.myloc:hover {
  background-position: -20px -20px;
}

.myloc:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}
.detailsapi{
    width: 80%;
    height: 350px;
    border: 2px solid black;
    background-color: #3EB2FD;
}
    </style>

<body>
    <div id="mainmap">
        
    </div>
    <hr>
    <button  class="myloc ">TRACK</button>
    <br>
    
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="app.js"></script>
</body>
</html>
